# Column Derivation from Existing Ones
You, as an excellent scientist that is familiar with 100 *functional programming* techniques in over 10 languages, would definitely have some days wanting to call something like **Select** in C# or **map** in JVM languages on your DataFrames. And you believe there is definitely something like this in *pandas*. Indeed, it's true!
Anyway, let's import our library first.

In [3]:
import pandas as pd

(By the way, we are *still* looking at the air quality values.)
Although we might have learned the values by heart (really?), we should still check if the imported data is valid.

In [4]:
air_quality = pd.read_csv("air_quality_no2.csv", index_col=0, parse_dates=True)
air_quality.head()

                     station_antwerp  station_paris  station_london
datetime
2019-05-07 02:00:00              NaN            NaN            23.0
2019-05-07 03:00:00             50.5           25.0            19.0
2019-05-07 04:00:00             45.0           27.7            19.0
2019-05-07 05:00:00              NaN           50.4            16.0
2019-05-07 06:00:00              NaN           61.9             NaN

## Per-Element Manipulation
It just seems like multiplying a scalar on a vector!
Its element-wise nature just made our lives easier.

In [5]:
air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882
air_quality.head()

,station_antwerp,station_paris,station_london,london_mg_per_cubic
datetime,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286
2019-05-07 03:00:00,50.5,25.0,19.0,35.758
2019-05-07 04:00:00,45.0,27.7,19.0,35.758
2019-05-07 05:00:00,NaN,50.4,16.0,30.112
2019-05-07 06:00:00,NaN,61.9,NaN,NaN

But what about something more complex (again) ?

*It turns out [with the voice of Mr. Andrew Ng]* that we could just use some sort of **Series-to-Series expression** thing.

And don't forget that these are not really "lambda"s since they are not instructions that apply on each element. And that can be achieved too, with **apply()** function.

In [6]:
air_quality["ratio_paris_antwerp"] = (
    air_quality["station_paris"] / air_quality["station_antwerp"]
)

## Element Renaming
Provide a dictionary with keys as the current names and corresponding values as the new names, and you are all set!

In [7]:
air_quality_renamed = air_quality.rename(
    columns={
        "station_antwerp": "BETR801",
        "station_paris": "FR04014",
        "station_london": "London Westminster",
    }
)

air_quality_renamed.head()

,BETR801,FR04014,London Westminster,london_mg_per_cubic,ratio_paris_antwerp
datetime,,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286,NaN
2019-05-07 03:00:00,50.5,25.0,19.0,35.758,0.495050
2019-05-07 04:00:00,45.0,27.7,19.0,35.758,0.615556
2019-05-07 05:00:00,NaN,50.4,16.0,30.112,NaN
2019-05-07 06:00:00,NaN,61.9,NaN,NaN,NaN