# Table Concatenation in pandas
Good scientists don't always work with a single file/set of data at a time. Instead, they always collect as much data as they can, resulting in different objects or files of data. However, we want to treat them as a whole to better achieve our goals, so we want to concatenate them.

*HINT* - The official website of pandas has some of the clearest visuals explaining these abstract things!<a href="https://pandas.pydata.org/docs/getting_started/intro_tutorials/08_combine_dataframes.html">Click me!</a>

As always, we import libraries and grab some data from different CSV files.

In [2]:
import pandas as pd

air_quality_no2 = pd.read_csv(
    "air_quality_no2_long.csv",parse_dates=True
)

air_quality_no2 = air_quality_no2[[
    "date.utc", "location","parameter", "value"
]]

# Review the data, too!
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [4]:
air_quality_pm25 = pd.read_csv(
    "air_quality_pm25_long.csv",parse_dates=True
)

air_quality_pm25 = air_quality_pm25[[
    "date.utc", "location","parameter", "value"
]]

# This too!
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

## Simple Concatenation of Objects
DataFrames of same columns should, *of course*, be able to connect with each other. And you, *of course*, can do that!

There is no reason we shouldn't combine our two air quality data as a whole, so we should, *absolutely*, do that now.

In [5]:
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)
air_quality.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

Wait, why is there a **axis** in the parameters? *It turns out* that we could not only combine them with the same columns. We can, also, combine them with their rows!

Think about it, it's just like giving the same entries of data **more details** instead of combining two separated **sets of data**.

And we can check the **shapes** of our sets of data before messing up with them.

In [6]:
print('Shape of the ``air_quality_pm25`` table: ', air_quality_pm25.shape)
print('Shape of the ``air_quality_no2`` table: ', air_quality_no2.shape)
print('Shape of the resulting ``air_quality`` table: ', air_quality.shape)

Shape of the ``air_quality_pm25`` table:  (1110, 4)
Shape of the ``air_quality_no2`` table:  (2068, 4)
Shape of the resulting ``air_quality`` table:  (3178, 4)

I'm sure we won't be combining them with the same rows now. Noteworthy, the **axis 0** is the one that runs vertically downwards and the **axis 1** is the one that runs horizontally across columns.

*HINT(?)* - Why is numbers used as the parameter type of **axis** instead of enumerations like *column* or *row*?

Anyway, the combination of tables can be illustrated by sorting action. Here the **parameter** column defined the origin of the table.

In [7]:
air_quality = air_quality.sort_values("date.utc")
air_quality.head()

                       date.utc            location parameter  value
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0

But if some day different sets of data don't have distinct columns like **parameter** that let you easily identify the origin of each entry, you can let the concatenation function provide a column identifying each origin.

In [8]:
air_quality_ = pd.concat([air_quality_pm25, air_quality_no2], keys=["PM25", "NO2"])
# Sadly we didn't see another origin just from the head of this table.
air_quality_.head()

                         date.utc location parameter  value
PM25 0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
     1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
     2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
     3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
     4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

Notice that we seemed to always be handling somewhat 2-dimensional data, or column-rows indexing data. But what can we do if some sort of *depth* exists as another dimension of indices? Or even worse, we have too many dimensions to properly gain a visual of it?

Sadly this is out of the scope of this notebook :(
But you can always try <a href="https://pandas.pydata.org/docs/user_guide/advanced.html#advanced">advanced indexing</a> yourself!